@import '../../util/scss-partials/_variables';

// Individual track styling

.search-item {
    color: #c2c2c2;
    font-size:1rem;
    padding: 1rem;
    td {
        border-bottom: 2px solid #e2e2e2;
        padding: 1rem 0;
    }
    .status {
        text-align: center;
        color: #9CDEEB;
        .icon {
            cursor: pointer;
        }
    }
}
